@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  width: 100%;
  padding: 30px 10px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.code-school {
  padding: 0 10px 5px 0;
  float: left;
}

.code-school>img {
  width: 520px;
  height: 10vh;
}

.how-code-school-works-container {
  font-size: 14.8px !important;
  background-color: white;
}

.content-image-box {
  width: 100%;
  padding: 20px 80px 20px 80px;
  background: url(https://www.codeschool.com/assets/pages/home/hero-bg@2x-057503d50c00413129824136537c5f8e84a5748a1ec4bba93cbc3dc037f0479f.jpg) center no-repeat;
  background-size: cover;
}

.learn-practice-win {
  margin-top: 30px;
  text-align: center;
  font-size: 90px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.track-info {
  margin-bottom: 10rem;
}

.join-the-crowd-container {
  margin-top: 5rem;
  margin-bottom: 7rem;
  padding: 30px;
  text-align: center;
  background: #F6F8F8
}

.join-the-crowd {
  margin-bottom: 4rem;
  font-size: 12px;
}

.learn-practice-info {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
}

.gray-box {
  width: 60%;
  font-size: 30px;
  text-align: center;
  color: white;
  border-radius: 40px;
  padding: 20px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: darkgray;
}

.clear-box {
  width: 60%;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  margin: auto;
  display: block;
  font-size: 30px;
  background-color: transparent;
  border: 2.5px solid white;
  color: white;
}

.bucket-container {
  padding: 30px;
  flex-direction: row;
}

.white-box {
  padding: 4rem;
  border-radius: 1rem;
  border: 2.5px solid lightgray;
  box-shadow: 1.5rem;
  margin-bottom: 1rem;
  background-color: white;
}

.image-content-bucket {
  width: 50%;
  padding: 1.25rem;
  margin: auto;
}

.image-content-bucket>img {
  width: 95%;
  padding: 2rem;
  margin: auto;
}

.bottom-content-container {
  padding: 40px 20px 20px 20px;
  background: #F6F8F8
}

.learning-paths-section {
  text-align: center;
  line-height: 1.5rem;
}

.h3 {
  font-size: 4rem;
}

.p-1 {
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: 6rem;
  line-height: 3rem;
}

.burger-menu-stack {
  color: darkgray;
}

.burger-menu-line {
  width: 75px;
  height: 10px;
  margin: 10px;
  background-color: lightgray;
}

.how-it-works {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: normal;
}

.learn {
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

.practice {
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 3rem;
  font-weight: 50;
}

.chart {
  width: 100%;
  margin-bottom: 6rem;
}


.testimony-1 {
  font-size: 12px;
  margin-bottom: 1em;
}

.anne-bertucio-img {
  border-radius: 20rem;
  float:left;
}

.win-section {
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 3rem;
  font-weight: 50;
}

.happy-girl-img {
  happy girl width: 100%;
  margin-top: 5rem;
}

.fireman-container {
  background: url(https://www.codeschool.com/assets/pages/home/bg-guide-row-ddbe2e08a865e866353bbf352e62b480318b1d7e71f8b7e79e38f434fc901c42.png);
  width: 100%;
  display:inline-block;
  margin-top: 30px;
  padding:20px;
}
.fire-logo {
  width: 100%;
  align-items: center;
}

.beginners-guide {
  font-size: 50px;
  color: white;
  font-weight: 300;
  margin-top: 30px;
}

.beginner-info{
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.read-the-guide {
  width: 60%;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  display: block;
  margin-bottom: 3rem;
  font-size: 30px;
  background-color: transparent;
  border: 2.5px solid white;
  color: white;
}

.lady-computer {
  width: 100%;
  align-items: center;
  padding-left: 10px;
  margin-left: 20px;
}

.final-section-container {
padding:20px;
background: #2D3033;
font-size: 16px;
color: white;
}
.last-words {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #c0ecf4

}

.icons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 4rem;
}

.code-school-final > img {
  width: 55%;
}

.learn-more {
  margin-top: 3rem;
  margin-bottom: 2rem
}

.pluralsight {
  width: 55%;
  margin-bottom: 2rem;

}

.app-store > img {
width: 40%;
margin-top: 1rem;
margin-bottom: 3rem;

}

.check-box {
  width: 100%;
  align-items: center;
}

.inner-header {
  color: blue;
}
