@import url('https://fonts.googleapis.com/css?family=Open+Sans');
a {text-decoration:none;}
a:visited { text-decoration: none; color:#81AFC1; }


body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  width: 100%;
  padding: 0px 30px 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconlist-items>img {
  width: 50px;
  height:50px;
  margin-right: 2rem;

}
.code-school {
  padding: 0 10px 5px 0;
  float: left;
}


.code-school>img {
  width: 520px;
  height: 10vh;
}

.how-code-school-works-container {
  font-size: 14.8px !important;
  background-color: white;
  margin-bottom: 3rem;
}

.content-image-box {
  width: 100%;
  padding: 40px 80px 40px 80px;
  background: url(https://www.codeschool.com/assets/pages/home/hero-bg@2x-057503d50c00413129824136537c5f8e84a5748a1ec4bba93cbc3dc037f0479f.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}

.learn-practice-win {
  margin-top: 30px;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.track-info {
  margin-bottom: 5rem;
  line-height: 40px;
}

.join-the-crowd-container {
  margin-bottom: 7rem;
  padding: 30px;
  text-align: center;
  background: #F6F8F8
}

.join-the-crowd {
  margin-bottom: 6rem;
  font-size: 55px;
  float:left;
}

.join-the-crowd-info {
  font-size: 20px;
}

.learn-practice-info {
  text-align: center;
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
}

.gray-box {
  width: 75%;
  font-size: 45px;
  text-align: center;
  color: white;
  border-radius: 70px;
  padding: 40px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: #575A5B;
}

.clear-box {
  width: 75%;
  border-radius: 70px;
  text-align: center;
  padding: 40px;
  margin: auto;
  display: block;
  font-size: 45px;
  background-color: transparent;
  border: 5.5px solid white;
  color: white;
}

.bucket-container {
  padding: 30px;
  flex-direction: row;
}

.white-box {
  padding: 2.5rem;
  border-radius: 2rem;
  border: 2.5px solid lightgray;
  box-shadow: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.image-content-bucket {
  width: 50%;
  padding: 1.25rem;
  margin: auto;
}

.image-content-bucket>img {
  width: 95%;
  padding: 2rem;
  margin: auto;
}

.bottom-content-container {
  padding: 40px 20px 20px 20px;
  background: #F6F8F8
}

.learning-paths-section {
  text-align: center;
  line-height: 1.5rem;
}

.h3 {
  font-size: 2.5rem;
  font-weight: 300;

}

.p-1 {
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: 6rem;
  line-height: 3rem;
}

.burger-menu-stack {
  color: darkgray;
}

.burger-menu-line {
  width: 75px;
  height: 10px;
  margin: 10px;
  background-color: #AEBDC1;
}

.how-it-works {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 300;
  margin-top: 5rem;
  font-size: 50px;
  line-height: normal;
}

.learn {
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 3rem;
}

.practice {
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 3rem;
}

.chart {
  width: 100%;
  margin-bottom: 6rem;
}

.testimony-1 {
  font-size: 11px;
  margin-bottom: 3em;
  padding: 1rem;
  margin: left;
  text-align-last: center;
}

.anne-bertucio-img {
  border-radius: 20rem;
  padding: 10px;
  width: 26%;
}

.anne {
  font-size: 14px;
  position: relative;
  right: 20rem;
}

.win-section {
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 3rem;
}

.fireman-container {
  background: url(https://www.codeschool.com/assets/pages/home/bg-guide-row-ddbe2e08a865e866353bbf352e62b480318b1d7e71f8b7e79e38f434fc901c42.png);
  width: 100%;
  display: inline-block;
  padding: 20px;
}

.fire-logo {
  width: 100%;
  align-items: center;
}

.anne-container {
  width: 100%;
  position: relative;
  right: 20rem;
}

.i-had-never {
margin-left: auto;
margin-bottom: .5rem;
line-height: 1.5;

}

.beginners-guide {
  font-size: 50px;
  color: white;
  line-height: 71px;
  margin-top: 30px;
}

.beginner-info {
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

.read-the-guide {
  width: 60%;
  border-radius: 70px;
  text-align: center;
  padding: 33px;
  display: block;
  margin-bottom: 3rem;
  font-size: 35px;
  background-color: transparent;
  border: 2.5px solid white;
  color: white;
}

.lady-computer {
  width: 100%;
  padding-left: 10px;
  margin-left: 10px;
}

.last-words {
  font-size: 38px;
  color: #AEBDC1;
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.happy-girl > img {
  width: 100%;
  height: 40px;
}

.final-section-container {
  padding: 20px;
  background: #2D3033;
  font-size: 20px;
  color: white;
}

.icons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
  height: 4rem;
}

.happy-girl > img {
  width: 100%;
  margin:auto;
  margin-top: 3rem;
  height:550px;
}

.code-school-final> img {
  width: 55%;
}

.learn-more {
  margin-top: 3rem;
  margin-bottom: 4rem
}

.pluralsight {
  width: 55%;
  margin-bottom: 2rem;
}


.app-store>img {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.check-list-image {
  width: 70%;
  margin: auto;
}

.inner-header {
  color: #5EC2D6;
}
